*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(75deg, rgb(236, 146, 146), rgb(179, 179, 238), rgb(193, 243, 193));
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Center and style the main container */
.whole-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container{
    width: 100%;
    padding: 10% 10% 10% 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
 
}

.content{
    width: 100%;
    padding: 10% 10% 10% 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid #2221210c;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
}

/* Header content */
.h1-style {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Form container */
.content-login {
    width: 100%;
    padding: 30px 0px 30px 0px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid #2221210c;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.btn-primary {
    background: #e4747441;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    transition: 0.3s ;
}

/* Hover effect */
.btn-primary:hover {
    background: #e47474;
}

/* Responsive design */
@media (max-width: 768px) {
    .whole-container {
        padding: 15px;
    }

    .h1-style {
        font-size: 24px;
    }

    .form-control {
        font-size: 14px;
    }

    .btn-primary {
        font-size: 16px;
    }
}
